%li= link_to(t('layouts.header.code'), "https://github.com/Nighoo/diaspora", {:title => t('layouts.application.source_package')})
%li= link_to(t('layouts.application.toggle'), toggle_mobile_path)
%li.separator= "|"
%li= link_to t('layouts.header.imprint'), legal_path
