= stylesheet_link_tag 'application'
.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid{:style => "background-image: url(/assets/header-bg.png"}
      %a.btn.btn-success.pull-right{:href => "/users/sign_in"} Login
      %a.btn.btn-primary.pull-right{:href => "/users/sign_up"} Register
      %a.brand{:href => "/"} socializer.cc

.container{:style => "padding-top: 5%"}
  .hero-unit{:style => "background-color: #ffffff"}
    %img{:alt => "Logo", :src => "/assets/branding/logo_caps.png"}/
    %hr/
    %p
      %b You're about to change the Internet. Let's get you set up, shall we?
    %p
      %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Start an account! &raquo;

= render :partial => 'home/show'
